
<div class="container-fluid bg-image">
    <div class="row d-flex align-items-center" style="height: 100vh;">
      <div class="col-md-6 text-white p-5">
        <h1>Client Management Portal</h1>
        <i><p>"Streamlining client relationships with ease and efficiency."</p>
        <p>"Manage your clients seamlessly, anytime, anywhere."</p></i>
      </div>
  
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="text-center">
          <button class="btn btn-primary mb-2  custom-size">
            <a routerLink="/login" class="text-white text-decoration-none">Login</a>
          </button>
          <br>
          
          <button class="btn btn-secondary  custom-size">
            <a routerLink="/register" class="text-white text-decoration-none">Register</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  